.animated-anchor {
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
  }
  
  .animated-anchor::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000!important;
    transition: width 0.4s ease-in-out;
  }
  
  .animated-anchor:active::after {
    width: 100%;
  }
  